* {
    background-color:#fafaf6;
    font-family: 'Archivo Narrow', sans-serif;
    margin: 0 0;
    color: #272e4f;
}
h2 {
    color: #21094e;
}
#change-col,#color-chg {
    width: 300px;
    height: 80px;
    border: 1px solid black;
    margin-bottom: 20px;
}
#hex-value,#red-res {
    background-color: rgba(255, 255, 255, 0);
    font-size: large;
}
.rgbdesign {
    border: 1px solid black;
    margin: 70px;
    padding: 30px;
    background-color: #00fff0;
}
.hexdesign {
    border: 1px solid black;
    margin: 70px;
    padding: 30px;
    background-color: #00fff0;
}

h2,p,#units,#cur,h3 {
    background-color: rgba(255, 255, 255, 0);

}
.sub-title {
    margin-left: 35px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 35px;
    margin-top: 20px;
    color: #00d1ff;
    display: flex;
    justify-content: center;
}
button {
    border-radius: 10px;
    background-color: #3d6cb9;
    font-size: 15px;
    padding: 5px;
    color: #fafaf6;
    font-weight: bold;
    margin: 5px;
    width: 80px;
}
button:active{
    color: black;
}
button:hover{
    background-color: #cfeed1;
    color: #272e4f;
}
input {
    background-color: #cfeed1;
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
}
p {
    color: #21094e;
}

a {
    background-color: #fafaf6;
    font-size: medium;
    color: #21094e;
    text-decoration: none;
}
.design-unit {
    border: 1px solid black;
    margin: 70px;
    padding: 20px;
    background-color: #00fff0;
    width:500px;
    margin-left: auto;
    margin-right: auto;
}
label {
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
    font-size: 20px;
    margin:10px;
} 
option,select {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 15px;
    background-color: #fafaf6;
    padding: 5px;
    border-radius: 10px;
}
option:hover {
    background-color: #00d1ff;
}
select:focus {
    background-color: #fafaf6;
}
.navigator {
    text-align: right;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    padding-top: 20px;
    padding-right: 20px;
}
header {
    background-color: #3d6cb9;
    height: 250px;
    padding-top: 30px;
    font-size: 90px;
}
.type-converter {
    width: 200px;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0);
    text-decoration: underline;
    font-size: 30px;
}
.unit {
    margin: 0 px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
}
.main-title {
    margin-left: 30px;
    font-size: 80px;
    background-color: rgba(255, 255, 255, 0);
    color: #fafaf6;
    display: flex;
    justify-content: center;
}
.landing-page {
    width: 350px;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0);
    font-size: 30px;
}
.landing-page-btn {
    width: 300px;
    height: 120px;
    background-color:#3d6cb9;
    font-size: 25px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    color: #fafaf6;
}
.landing-page-container {
    width: 900px;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #f2f2f0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.btn-text {
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
    color: #fafaf6;
}
.btn-text:hover {
    color: #272e4f;
}
.landing-page-btn:hover {
    background-color: #cfeed1;
}
.btn-text:active {
    color: black;
}
input:focus {
    background-color:#fafaf6;
}
.connect-me{
    background-color: rgba(255, 255, 255, 0);
    margin: 5px;
}
.about-me {
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
    color:#21094e;
}
.fa {
    color: #272e4f;
}
textarea {
    resize: none;
    margin-left: 10px;
    padding: 5px;
    background-color: #CFEED1;
}
textarea:focus {
    background-color: #fafaf6;
}
.string-utilities-block {
    width: 500px;
    margin: 20px auto;
    border: 1px solid black;
    background-color: #00fff0;
    padding: 20px;
}
.text-tools-btn {
    border-radius: 10px;
    background-color: #3d6cb9;
    font-size: 15px;
    padding: 5px;
    color: #fafaf6;
    font-weight: bold;
    margin: 5px;
    width: 200px;
}
.color-converter {
    width: 120px;
    color: #fafaf6;
}
.color-converter:hover {
    background-color: #cfeed1;
    color: #272e4f;
}
.swap-link {
    background-color: rgba(255, 255, 255, 0);
    color: #fafaf6;
}
.swap-link:active {
    color: black;
}
.enc-dec-container1 {
    border: 1px solid black;
    margin: 60px;
    background-color: #CFEED1;
    padding: 20px;

}
.enc-dec-container2 {
    border: 1px solid black;
    margin: 60px;
    background-color: #CFEED1;
    padding: 20px;
}
.enc-dec-container3 {
    border: 1px solid black;
    margin: 60px;
    background-color: #CFEED1;
    padding: 20px;
}
.sub-type {
    width: 500px;
    margin: 10px auto;
}