* {
    background-color:#fafaf6;
    font-family: 'Archivo Narrow', sans-serif;
    margin: 0 0;
    color: #21094e;
}
h2 {
    color: #21094e;
}

#change-col,#color-chg {
    width: 78vw;
    height: 8vw;
    margin-bottom: 2vw;
    border-radius: 0.5vw;
}
#hex-value,#red-res {
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.5em;
}
.rgbdesign {
    border-radius: 0.5em;
    margin: 7rem;
    padding: 2em;
    box-shadow: 0.1vw 0.1vw 0.3vw 0.3vw #7EC8E3;
}
.hexdesign {
    border-radius: 0.5em;
    margin: 7rem;
    padding: 2em;
    box-shadow: 1px 1px 5px 5px #7EC8E3;
}

h2,p,#units,#cur{
    background-color: rgba(255, 255, 255, 0);

}
h3 {
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.6em;
}
.sub-title {
    margin-left: 1.4em;
    background-color: rgba(255, 255, 255, 0);
    font-size: 2.2em;
    margin-top: 0.5em;
    color: #cfeed1;
    padding-bottom: 1em;
    
}
button {
    border-radius: 0.6em;
    background-color: #3d6cb9;
    padding: 0.5em;
    color: #fafaf6;
    font-weight: bold;
    margin: 0.5em;
}
button:active{
    color: black;
}
button:hover{
    background-color: #cfeed1;
    color: #272e4f;
}
input {
    background-color: #ffe9e3;
    padding: 0.3em;
    border-radius: 0.5em;
    font-size: 1.2em;
}
p {
    color: #21094e;
    font-size: 1em;
}

a{
    text-decoration: none;
}
.design-unit {
    border-radius: 0.5em;
    margin: 3rem;
    padding: 1.5rem;
    box-shadow: 1px 1px 5px 5px #7EC8E3;
}
label {
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
    font-size: 1.4em;
    margin:0.4em;
} 
option,select {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1vw;
    background-color: #fafaf6;
    padding: 0.3vw;
    border-radius: 0.5vw;
    width: 9.2vw;
}
option:hover {
    background-color: #7EC8E3;
}
select:focus {
    background-color: #fafaf6;
}
.navigator {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    width: 9vw;
}

.unit {
    width: 8vw;
    padding: 0.3vw;
    color: #3d6cb9;
    background-color: rgba(255, 255, 255, 0);
    border: 0.1vw solid #21094e;
    font-size: 1.3vw;
}
.unit:hover{
    background-color: #cfeed1;
    color: #21094e;
}

header {
    background-image:linear-gradient(to bottom,#3d6cb9,#7ec8e3);
    height: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 1px 1px 5px 5px grey;
}


.type-converter {
    width: 25%;
    margin: 1em auto;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    text-decoration: underline;
    font-size: 3rem;
}

    
.main-title {
    margin-left: 0.2em;
    font-size: 5em;
    background-color: rgba(255, 255, 255, 0);
    color: #fafaf6;
   
}
.landing-page {
    margin: 1em auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    font-size: 2.3em;
}
.landing-page-btn {
    background-color:#3d6cb9;
    padding: 1.4em;
    border-radius: 0.5em;
    color: #fafaf6;
}
.landing-page-container {
    border-radius: 0.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    padding: 1em;
    box-shadow: 1px 1px 5px 5px #7EC8E3;
    margin-bottom: 2em;
}

.landing-page-btn:hover {
    background-color: #cfeed1;
    box-shadow: 1px 1px 5px 5px #3d6cb9;
    transition: 0.8s;
}
.btn-text:active {
    color: black;
}
input:focus {
    background-color:#fafaf6;
}
.connect-me{
    background-color: rgba(255, 255, 255, 0);
    margin: 1vw;
}
.about-me {
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.2rem;
    color:#21094e;
    margin-left: 4vw;
}
.fa {
    color: #21094e;
    margin-left: 4vw;
    background-color: rgba(255, 255, 255, 0);
}
textarea {
    resize: none;
    padding: 0.5vw;
    background-color: #cfeed1;
    width: 40vw;
    height: 10vw;
    border-radius: 0.5vw;
}
textarea:focus {
    background-color: #fafaf6;
}
.string-utilities-block {
    width: 50vw;
    margin: 2vw auto;
    border-radius: 0.5vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:1px 1px 5px 5px #7EC8E3;
}
.string-utilities-subblock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1vw;
    width: 40vw;
    margin-left: 0;
}
.text-tools-btn {
    border-radius: 0.5vw;
    background-color: #3d6cb9;
    font-size: 1.3vw;
    padding: 0.5vw;
    color: #fafaf6;
    font-weight: bold;
    margin: 0.5vw;
    width: 11vw;
}
.color-converter {
    width: 10%;
    color: #fafaf6;
}
.color-converter:hover {
    background-color: #cfeed1;
    color: #272e4f;
}

.enc-dec-container1 {
    background-color: #f2f2f0;
    border-radius: 5px;
    margin: 0px auto;
    width: 900px;
    padding: 20px;
    display:flex;
    align-items: center;
}
.enc-dec-container2 {
    background-color: #f2f2f0;
    border-radius: 5px;
    margin: 0px auto;
    width: 1000px;
    padding: 20px;
    display:flex;
    align-items: center;
}
.enc-dec-container3 {
    background-color: #f2f2f0;
    border-radius: 5px;
    margin: 5px auto;
    width: 1000px;
    padding: 20px;
    display:flex;
    align-items: center;
}
.sub-type {
    width: 300px;
    margin: 40px auto;
    text-decoration: underline;
}
#enc-base,#dec-base {
    width: 150px;
}

.humanToEpoch {
    padding: 1vw;
    margin: 4vw auto;
    width: 40vw;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    justify-items: center;
    box-shadow: 1px 1px 5px 5px #7EC8E3;
}

.epochToHuman {
    padding: 1vw;
    margin: 4vw auto;
    width: 40vw;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    justify-items: center;
    box-shadow: 1px 1px 5px 5px #7EC8E3;
}
.date-input-fields {
    background-color: #7ec8e3;
}

img {
    background-color: rgba(255, 255, 255, 0);
    width: 60%;
    height: 130%;
}

header#landing-header {
    background-image:linear-gradient(to top,#3d6cb9,#7ec8e3);
    height: 30vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    box-shadow: 1px 1px 3px 3px grey;
}
footer {
    margin: 0 0;
}
.other-utility-navs {
    display: flex;
    justify-content: end;
    background-color: #7ec8e3;
    padding: 0 0;
}